@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color1: #000000;
  --color2: #ffffff;
  --color3: #767a7e;
  --color4: #aa1d61;
  --color5: #f32c8c;

  --banner: url('../img/banner.png');

  --fuente-titulo: Arial, Helvetica, sans-serif;
  --fuente: 'roboto', cursive;
}

header {
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: #000000;
  z-index: 999;
}

.header-banner {
  background: var(--banner);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 28%;
}

.header_titulo {
  max-width: 100%;
  text-align: center;
}

@media screen and (min-width: 728px) {
  .header_titulo {
    font-size: 1.2em;
  }
  .header-banner{
    background-size: 100% 40%;
  }
}

@media screen and (max-width: 545px) {
  .header_titulo {
    font-size: .8em;
  }
  .header-banner{
    background-size: 100% 35%;
  }
}

.header_titulo-titulo {
  font-family: var(--fuente-titulo);
  font-weight: bolder;
  font-size: 3em;
  color: var(--color5);
  max-width: 100%;
}

.header-arrow:hover {
  font-weight: bold;
  font-size: large;
  color: var(--color5) !important;
  transform: scale(1.2);
}

.text {
  color: var(--fuente-logo);
  font-weight: bold;
  color: var(--color3) !important;
}

.text:hover {
  font-weight: bold;
  font-size: large;
  color: var(--color5) !important;
  transform: scale(1.2);
}

.text-active:hover {
  font-weight: bold;
  font-size: large;
  color: var(--color2);
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color2);
  text-decoration: none;
}

header,
footer {
  background-color: var(--color1);
  font-family: var(--fuente);
  list-style: none;
  color: var(--color2);
}


body {
  background-color: var(--color2);
  color: var(--color1);
  list-style: none;
}

body:link {
  color: var(--color1);
}

.dropdown-menu {
  min-width: 0 !important;
  padding: 0;
}

.card-img-top {
  object-fit: cover;
  height: 15vh;
}

.btn {
  background-color: var(--color5);
}


.contact-form {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact-form form {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  width: 70%;
  height: 63vh;
  text-align: center;
}

.card {
  height: 50vh!important;
}

.card-body {
  font-size: .9em!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.card-body>h2 {
  padding-top: 5px!important;
  font-size: 1.5em!important;
}
.card-body>p{
  margin: 0!important;
  padding-bottom: 0!important;
}